@charset "utf-8";
/* CSS Document */

#main #content{
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:1px;
}

#content div{
	font-family:Microsoft YaHei;
	margin-bottom:10px;
	cursor:pointer;
}

#content a{
	font-size:14px;
	letter-spacing:3px;
	text-decoration:none;
	color:#000;
}

#content font{
	font-size:12px;
	float:right;
}